.nav-float {
    float: right;
}
.crnav {
    background-color: #333F44;
    borderborder-radius: 0;
    border: none;
}
.crnav div div ul{
  color: black;
}
.crnotif{

  margin: 0px;
}
.main-head {
    margin-top: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.01);;
    color: black;
    padding: 20px;
    font-size: 28px;
    font-family: sans-serif;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
#logo {
    height: 100%;
    margin: auto;
}
.crslide {
    margin: 10px 20px;
    height: 95%;
}
.wid-hight {
    width: 100%;
    height: 100%;
}
@media screen and (max-width:768px) {
    .nav-float {
        float: left;
    }
}
@media screen and (max-width:380px) {
    .brand-head {
        font-size: 14px;
    }
}
